<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher">

    <!--by Mehrab-->
    <uses-sdk
        android:minSdkVersion="21"
        tools:overrideLibrary="com.blacksquircle.ui.editorkit" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- Global permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"
        android:minSdkVersion="34" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:banner="@mipmap/ic_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDayNight"
        android:usesCleartextTraffic="true"
        tools:replace="android:extractNativeLibs"
        tools:targetApi="m">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!--App-->
        <activity
            android:name=".ui.LauncherActivity"
            android:exported="true"
            android:theme="@style/AppThemeDayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeDayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.ServerActivity"
            android:theme="@style/AppThemeDayNight.NoActionBar" />

        <activity
            android:name=".ui.UsageActivity"
            android:theme="@style/AppThemeDayNight.NoActionBar" />

        <activity android:name=".ui.ContactActivity" />
        <activity android:name=".ui.FAQActivity" />
        <activity android:name=".ui.ReviewActivity" />

        <!--OpenVpn-->
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:exported="true"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <service
            android:name="de.blinkt.openvpn.api.ExternalOpenVPNService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="de.blinkt.openvpn.api.IOpenVPNAPIService" />
            </intent-filter>
        </service>

        <activity
            android:name="de.blinkt.openvpn.LaunchVPN"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/vpn_launch_title"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.blinkt.openvpn.DisconnectVPNActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=".DisconnectVPN"
            android:theme="@style/blinkt.dialog" />

        <!--V2ray-->
        <activity
            android:name="com.xray.lite.ui.MainSettingsV2ray"
            android:exported="false"
            android:theme="@style/AppThemeDayNight.NoActionBar" />

        <activity
            android:name="com.xray.lite.ui.ServerAngActivity"
            android:exported="false"
            android:theme="@style/AppThemeDayNight.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.xray.lite.ui.MainAngActivity"
            android:exported="false"
            android:theme="@style/AppThemeDayNight.NoActionBar"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.xray.lite.ui.ServerCustomConfigActivity"
            android:exported="false"
            android:windowSoftInputMode="stateUnchanged" />

        <activity
            android:name="com.xray.lite.ui.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.xray.lite.ui.PerAppProxyActivity"
            android:exported="false" />
        <activity
            android:name="com.xray.lite.ui.ScannerActivity"
            android:exported="false" />
        <activity
            android:name="com.xray.lite.ui.LogcatActivity"
            android:exported="false" />
        <activity
            android:name="com.xray.lite.ui.RoutingSettingsActivity"
            android:exported="false"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="com.xray.lite.ui.SubSettingActivity"
            android:exported="false" />
        <activity
            android:name="com.xray.lite.ui.UserAssetActivity"
            android:exported="false" />
        <activity
            android:name="com.xray.lite.ui.SubEditActivity"
            android:exported="false" />
        <activity
            android:name="com.xray.lite.ui.ScScannerActivity"
            android:exported="false" />
        <activity
            android:name="com.xray.lite.ui.ScSwitchActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":RunSoLibV2RayDaemon"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />

        <activity
            android:name="com.xray.lite.ui.UrlSchemeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="xraylite" />
                <data android:host="install-config" />
                <data android:host="install-sub" />
            </intent-filter>
        </activity>

        <service
            android:name="com.xray.lite.service.V2RayVpnService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":RunSoLibV2RayDaemon">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>

            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn" />
        </service>
        <service
            android:name="com.xray.lite.service.V2RayProxyOnlyService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:label="@string/app_name"
            android:process=":RunSoLibV2RayDaemon">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="proxy" />
        </service>
        <service
            android:name="com.xray.lite.service.V2RayTestService"
            android:exported="false"
            android:process=":RunSoLibV2RayDaemon" />

        <receiver
            android:name="com.xray.lite.receiver.WidgetProvider"
            android:exported="true"
            android:process=":RunSoLibV2RayDaemon">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_provider" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.xray.lite.action.widget.click" />
                <action android:name="com.xray.lite.action.activity" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.xray.lite.service.QSTileService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:icon="@drawable/ic_stat_name"
            android:label="@string/app_tile_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:process=":RunSoLibV2RayDaemon">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="tile" />
        </service> <!-- =====================Tasker===================== -->
        <activity
            android:name="com.xray.lite.ui.TaskerActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.xray.lite.receiver.TaskerReceiver"
            android:exported="true"
            android:process=":RunSoLibV2RayDaemon">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver> <!-- =====================Tasker===================== -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

</manifest>
